		h1 {
			text-align: center;
		}

		p {
			font-weight: 200;
		}
		div h4 {
			float: right;
		}



	h4 {
    	border: 1px solid black;
    	text-align: center;
    	width: 20%;
    	margin-left: 80%;
    	font-weight: bold;

    	font-size: 105%;
    	margin-bottom: 10;
    	margin-top: 0%;
    	margin-right: 0%;
    	padding: 5px;
	}


		body {
			font-family: Comic Sans MS, Comic Sans, cursive;
		}
		@media (min-width: 992px) {
			div {
				float: left;
				width: 30%;
				height:31%;
				border: 1px solid black;
				padding: 1px;
				margin: 10px;
				background-color: grey;
			}
		
		}
		@media (min-width: 768px) and (max-width: 991px) {
			.pizza, .sushi {
				width: 47%;
				height: 20%%;
				border: 1px solid black;
				padding: 1px;
				
				background-color: grey;
			}

			.pizza {
				float: left;
				margin-right: 20px;
			}
			.sushi {
				float: left;
				margin-left: 0px;
			}
			.nuts {
				float: left;
				height: 10%;
				width: 97%;
				border: 1px solid black;
				padding: 1px;
				
				margin-top: 20px;
				background-color: grey;
			}

		}

		@media (max-width: 767px) {
			.nuts, .pizza, .sushi {
				width: 95%;
				    position: relative;
				height: 65%;
				border: 1px solid black;
				padding: 1px;
				margin: 10px;
				background-color: grey;
			}
		}
